/* ==========
  Vido player styling
========== */
.video-content-and-control {
  position: relative;
  top: 0;
  left: 0;
}

.video-player {
  width: 100%;
  z-index: -1;
}

.video-controls {
  position: relative;
  bottom: 0;
  margin-top: -33px;
  z-index: 100;
}

.progressBarNoFill {
  width: 100%;
  background: #393939;
}

.progressBarFilling {
  width: 0;
  background: $yellow-base;
  transition: 1s;
}

.progressBarFilling,
.progressBarNoFill {
  height: 5px;
}
