/* ==========
  Vido player styling
========== */
.video-content-and-control {
  position: relative;
  top: 0;
  left: 0;
}

.video-player {
  width: 100%;
  z-index: -1;
}

.video-controls {
  position: relative;
  background: rgba(0,0,0,0.5);
  bottom: 0;
  top: 24px;
  width: 95%;
  margin: -33px auto 0;
  padding-bottom: 8px;
  z-index: 1;
  transition: 0.3s;
}

.video-controls-show {
  // z-index: 2;
  top: -24px;
  transition: 0.5s;
}

.progressBarNoFill {
  width: 100%;
  background: #393939;
  margin-bottom: 10px;
}

.progressBarFilling {
  width: 0;
  background: $yellow-base;
  transition: 0.3s;
}

.progressBarFilling,
.progressBarNoFill {
  height: 5px;
}

.control-panel {
  position: relative;
  display: inline-flex;
  height: 30px;
  width: 98%;
  margin: 0 10px;
  // border: 1px solid red;
}

.flex-item {
  align-self: center;
  margin-right: 10px;
}

.flex-item:last-child {
  margin-right: 0;
}

.flex-item-2 {
  margin-right: auto;
}

.play-pause {
  position: relative;

}

.time p {
  margin: 0;
  color: #FFF;
}

#play-pause,
#mute,
#volume-up {
  margin-right: 20px;
}

#volume-down {
  margin-right: 5px;
}

#full-screen,
#caption-text-control {
  margin-right: 10px;
}

#timeOnProgressBar {
  display: none;
  position: absolute;
  // height: 20px;
  // width: 50px;
  left: -2%;
  margin-top: -34px;
  border: 1px solid;
  border-radius: 3px;
  background: rgba(255,255,255,0.5);
  color: #333;
  text-align: center;
  padding: 3px;
}

#play-pause:hover,
#mute:hover,
#volume-up:hover,
#volume-down:hover,
#full-screen:hover,
#timeOnProgressBar:hover,
#caption-text-control:hover {
  cursor: pointer;
}
