body {
  background: $bkg-light;
  font-family: 'Droid Serif', sans-serif;
  font-size: 16px;
}

p {
  font-size: 0.85em;
  line-height: 1.5em;
  margin-top: 2.4em;
  margin-bottom: -0.9em;
  color: $txt-light;
}

@include tablets {
  p {
    font-size: 1rem;
    margin-top: 1.6em;
    margin-bottom: -0.1em;
  }
}

@include displays {

}
